<!--https://youtu.be/nz0hPdvrCg8?t=418-->
<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button routerLink="">
    <mat-icon >menu</mat-icon>
  </button>
  <span>TEAM</span>
  <span class="example-spacer"></span>
  <button [matMenuTriggerFor]="lvl1master" mat-button >Справочники</button>
  <mat-menu #lvl1master="matMenu" >
    <button mat-menu-item routerLink="team">
      <mat-icon>contacts</mat-icon>
      <span>Команда</span>
    </button>
    <button mat-menu-item >
      <mat-icon>bar_chart</mat-icon>
      <span>График</span></button>
    <button mat-menu-item routerLink="table_editable"  >
      <mat-icon>table</mat-icon>
      <span>Editable table</span></button>
  </mat-menu>
  <button mat-button routerLink="company">
    <mat-icon>supervised_user_circle</mat-icon>
    <span>Компании</span></button>
  <button routerLink="editable_two"  mat-button>Ed2</button>
  <button routerLink="editable_3"  mat-button>Ed3</button>
  <button mat-raised-button color="warn">Войти</button>
  <button mat-icon-button><mat-icon>exit_to_app</mat-icon></button>
</mat-toolbar>
